.container {
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    /* kodingan untuk flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.container div {
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin: 2px;
    flex: 1;
}

.container div.dua {
    flex: 2;
}